@import "prose.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dvh: 1vh;
    --vh: 1vh;
    @supports (height: 1dvh) {
      --dvh: 1dvh;
    }
    @supports (height: 1svh) {
      --vh: 1svh;
    }
  }
}
